<h1>All Blockmarks</h1>

<%= link_to "#inspirational" %>
<br>
<br>
<%= image_tag("http://lorempixel.com/400/200", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<%= image_tag("http://lorempixel.com/400/200", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<%= image_tag("http://lorempixel.com/400/200", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<%= image_tag("http://lorempixel.com/400/200", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<br>
<br>
<%= link_to "#cats" %>
<br>
<br>
<%= image_tag("http://lorempixel.com/400/200/cats", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<%= image_tag("http://lorempixel.com/400/200/cats", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<%= image_tag("http://lorempixel.com/400/200/cats", alt: "Something Inspirational")%>
<%= link_to "Like" %>
<%= image_tag("http://lorempixel.com/400/200/cats", alt: "Something Inspirational")%>
<%= link_to "Like" %>